#home_body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.hero_container{
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
}
#video_1{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
#video_text{
    position: absolute;
    margin-left:1em;
    bottom: 4em;
    z-index: 1;
    color: white;
}
.heading{
    margin: 0;
    font-size: clamp(3rem, 5vw, 6rem); 
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.sub_heading{
    margin: 0;
    font-size: clamp(2rem, 4vw, 4rem); 
    font-family: Arial, Helvetica, sans-serif;
}
#welcome_message{
    text-align: center;
    padding: 10px;
}
.content{
    color: #36454F;
    font-size: clamp(1.2rem, 1.7vw, 2rem);
}
.headings{
    font-family: "Almendra", serif;
    font-weight: 400;
    font-size: clamp(2rem, 3vw, 3rem);
    font-style: normal;
}
#services_sec{
    text-align: center;
}
#services_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    row-gap: 4em;
    flex-wrap: wrap;
}
.ser_sub{
    background-size: cover;
    height: 725px;
    width: 700px;
    text-align: left;
    padding: 5px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out; 
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-end;
}
#sub_one{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/parties.jpg');
}
#sub_two{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/Decorations.jpg');
}
#sub_three{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/Food.jpg');
}
#sub_four{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/fireworks.jpg'); ;
}
.ser_sub:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    height: 735px;
    width: 735px;
    transform: rotateZ(1deg);
}
.sub_services{
    font-size: clamp(2.5rem, 3.5vw, 3.5rem);
    margin: 0;
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.sub_content{
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    margin: auto;
    padding: 10px;
    width: 200px;
    color: white;
    background-color: orangered;
    font-size: clamp(1rem, 1.7vw, 1.7rem);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 0;
}
.button:hover{
    background-color:#181A3D;
    color: yellow;
}

/* the css above used for home */


/* header css */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #181A3D;
    height: 60px;
    color: white;
}
.logo{
    display: flex;
    gap: 1em;
    align-items: center;
}
.logo_img{
    height: 60px;
    width: 60px;
    margin-left: 10px;
}
.logo_text{
    font-size: clamp(0.8em,1.3em,1.5em);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header_nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 1em;
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(1rem,1vw,2rem); 
}
.nav_li{
    list-style: none;
}
.home_color{
    background-color: yellow;
    height: 4px;
    transition: all 0.2s ease-in;
}
.nav_li:hover .home_color{
    height: 8px;
}
.services_color{
    background-color: red;
    height: 4px;
    transition: all 0.2s ease-in;
}
.nav_li:hover .services_color{
    height: 8px;
}
.blogs_color{
    background-color: orange;
    height: 4px;
    transition: all 0.2s ease-in;
}
.nav_li:hover .blogs_color{
    height: 8px;
}
.portfolio_color{
    background-color: green;
    height: 4px;
    transition: all 0.2s ease-in;
}
.nav_li:hover .portfolio_color{
    height: 8px;
}
.contact_color{
    background-color: blue;
    height: 4px;
    transition: all 0.2s ease-in;
}
.nav_li:hover .contact_color{
    height: 8px;
}

/* footer css */
footer{
    background-color: #181A3D;
    width: 100%;
    padding-top: 20px;
}
.footer_logos{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}
.footer_logo{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}
.links_one{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.links_one a{
    color: white;
    text-decoration: none;
}



